button {
  all: unset;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgb(235, 235, 235);
  transition: 0.1s;

  &:active {
    transform: scale(0.98);
    background-color: rgb(224, 224, 224);
  }
}
